* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0b093b;
    color: aliceblue;
    margin-bottom: auto;
  }

  header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: flex-start;
    
    min-width: 13vw;
}
  
 
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    padding: 10px 0px 10px 0px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px  0px 0px 0px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span::after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left:-20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-left: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    left: 0;
  }
 img{
    
    margin-left: 1050px;
    margin-top: 0%;
    height: 80px;
    width: 250px;
    
  }
  .mainbody{
    display: flex;
    margin-top: 8%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-left: 23%;
    margin-right: 20%;
    font-family: monospace;
    font-size: 30px;
    line-height: 2.0em;
    line-height: 2.5em;
    justify-items:right;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }

  
  

    
 
 

  
